/*Reset*/
body, h1, h2, h3, p, ul {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #252525;
}

/*Menu*/
.menu {
  background: #252525;
  padding: 20px 0px;
}

.menu-container {
  max-width: 960px;
  margin: 0 auto;
}

.menu-container::after, 
.menu-container::before {
  content: "";
  display: table;
  clear: both;
}

a.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  display: inline-block;
}

.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.125em; /*18px*/
}

/*Intro*/

.intro {
  background: url('../img/bg-intro.jpg') no-repeat center center;
  background-size: cover; /*definir que imagem sempre seja 100%*/ 
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.intro h1::after {
  content: "";
  display: block;
  height: 4px;
  width: 50px;
  background: #fff;
  margin: 10px auto;
}

.intro p {
  font-style: italic;
  font-size: 1.125em;
}

/*Sobre*/

.sobre {
  padding: 60px 0;
  text-align: center;
}

.sobre-container {
  max-width: 960px;
  margin: 0 auto;
}

.sobre-container::after, 
.sobre-container::before {
  content: "";
  display: table;
  clear: both;
}

.sobre h2 {
  font-size: 2.25em;
  margin-bottom: 60px;
}

.sobre-item {
  float: left;
  width: 460px;
  margin: 0 10px;
}

.sobre-item > img {
  display: block;
  max-width: 100%;
}

.sobre-item h3 {
  font-size: 2.25em;
  background-color: #252525;
  color: #fff;
  padding: 5px 0 10px 0;
  font-style: italic;
  line-height: 1em;
  width: 220px;
  text-transform: lowercase;
  font-weight: lighter;
  top: -25px;
  position: relative;
}

.sobre > p {
  font-style: italic;
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 460px;  
  margin: 20px auto;
}
/*Produtos*/

.produtos {
  background-color: #e7e4d8;
  padding: 60px 0;
  border-top: solid 3px #d6d3c8;
  border-bottom: solid 3px #d6d3c8;
  text-align: center;
}

.produtos-container {
  max-width: 960px;
  margin: 0 auto;
}

.produtos-item {
  width: 300px;
  float: left;
  margin: 0 10px 20px 10px;
}

.produtos-container::after, 
.produtos-container::before {
  content: "";
  display: table;
  clear: both;
}

.produtos-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}

.produtos-item p {
  font-size: 0.875em;
  line-height: 1.4em;
}

.produtos-item h2::before{
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: currentColor;
  border-radius: 50%;
  margin: 20px auto;
  border: 5px solid #d6d3c8;
  box-shadow: 0 0 0 10px currentColor;
}

h2.produtos-paulista::before {
  color: #492901;
}

h2.produtos-carioca::before {
  color: #c17139;
}

h2.produtos-carioca::before {
  color: #d7a54d;
}

.produtos-btn {
  width: 150px;
  border: solid 3px #252525;
  padding: 10px;
  color: #252525;
  text-decoration: none;
  display: block;
  margin: 20px auto 0px auto;
  font-size: 1.125em;
  font-weight: bold;
  text-transform: uppercase;
}


/*Local*/

.local {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}

.local-item {
  clear: both;
  margin: 60px auto; 
  /* overflow: hidden; Outro exemplo de clearfix */
}

.local-item::before,
.local-item::after {
  content: "";
  display: table;
  clear: both;
} /*  -----Um tipo de clearfix----- */

.local-item img{
  width: 460px;
  float: left;
  display: block;
  margin: 0 10px;
}

.local-item > div {
  width: 460px;
  float: left;
  display: block;
  margin: 0 10px;
}

.local-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}

.local-item p {
  font-size: 1.125em;
  line-height: 1.4em;
  width: 320px;
  margin-bottom: 40px;
}

.local-item a {
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  border: solid 3px;
  color: #252525;
  padding: 10px 30px;
  font-weight: bold;
}